html,body,h1,h2,h3,p,ul,li,tr,th,td,table,input,textarea,form,header,footer,section,aside,fieldset {margin:0;padding:0;}
body {font-size:14px;font-family:arial,sans-serif;background:#FFF} /*F6F4F0, EFEFF0*/
.clear {clear:both}
a {text-decoration:none;color:#E8802B}
ul {list-style:none}
img.ver {vertical-align:middle;}
header {background:#555;border-bottom:0px solid #FF8400;}
footer {padding:10px 0;text-align:center;font-size:12px;color:#666;border-top:1px solid #DDD;}
.wrap {margin:0 auto;width:760px;}
.content {padding:20px 0;}
.sidebar {float:left;width:200px;}
.main {float:left;width:540px;margin-left:20px;}

nav.algo ul {list-style:none;float:right;}
nav.algo li {float:left;}
nav.algo li a {float:left;display:block;padding:10px 0;margin-left:20px;color:white;}

h1 a {color:white;float:left;padding:7px 0;font-weight:normal;font-size:22px}
h2 {font-size:180%;margin-bottom:10px;font-weight:normal;}
h3 {background:#F6F4F0;border-top:1px solid #D4D4D4;padding:6px 6px;font-size:12px;color:#666;margin-bottom:10px;}
.desc {margin-bottom:15px;font-size:120%;margin-top:-5px;}

.user-menu {list-style:none;margin-bottom:20px;}
.user-menu a {display:block;padding:5px;border-bottom:1px solid #EEE;}
.avatar {margin-bottom:20px;height:200px;}
.user-details {margin-bottom:20px;}
.user-details p {margin:3px 0}

.members {}
li.member {}
li.member a {display:block;margin-bottom:30px;width:180px;float:left;position:relative;font-size:13px;}

.post {margin-bottom:20px;}
.post-reply {margin-top:10px}
.post-avatar {float:left;width:60px;}
.post-avatar-reply {float:left;width:40px;}
.post-body {float:left;width:480px;}
.post-body-reply {float:left;width:440px;}
.post-name {margin-bottom:5px;}
.post-content {margin-bottom:10px;}
.post-links {font-size:11px;color:#666;}
.post-likes {font-size:11px;color:#666;margin-top:5px;}
.post-replies {}
.post-date {color:#AAA;font-size:12px;margin-top:5px;}

.sidebar-left {float:left;width:40px;}
.sidebar-right {float:left;width:160px;}

ul.notifications li {margin-bottom:10px;border-bottom:1px solid #EEE;padding-bottom:10px;font-size:13px}
ul.logs li {margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #EEE;}

ul.courses {}
ul.courses li a {display:block;background:#EEE;padding:10px 20px;margin-bottom:10px;border-radius:5px;}
ul.courses li a:hover {background:#DDD;}

div.done {background:green;color:#fff;padding:8px 10px;margin-bottom:10px;}
div.error {background:#f00;color:#fff;padding:8px 10px;margin-bottom:10px;}
div.error a, div.done a {text-decoration:underline;color:#fff}

input,textarea {background:#fafafa;border:1px solid #dbdbdb;padding:6px 4px;border-radius:3px;outline:none;font-size:14px;font-family:arial,sans-serif;}
input.button, input.button-disabled {padding:5px 12px;background:#E8802B;border:none;color:#fff;}
input.button-small {font-size:12px;}
input.button:active {background:#AAA;}
textarea.post-form {height:38px;width:470px;}
fieldset {background:#FFF;margin-bottom:10px;padding:20px;border:1px solid #CCC;border-radius:10px;}
input:focus {border:1px solid #BBB;}
input.button:focus {border:none}
input.button-disabled {background:#AAA;border:none}

.index-buttons {margin-top:20px;}
.index-button a {display:block;float:left;width:270px;background:#EEE;padding:50px;border-radius:10px;text-align:center;font-size:22px;}
.index-button a:hover {background:#DDD;}
.index-button a:active {background:#CCC;}
.index-button-space {width:20px;float:left;}

.login-box {background:#FFF;width:300px;margin:0 auto;border:1px solid #CCC;padding:20px;border-radius:10px;}
.login-field {margin:5px 0 15px;}
.login-field input {width:290px;}
.login-submit {background:#EEE;padding:20px;}
.forgot {text-align:center;margin-top:10px;}

.search-field {margin-bottom:5px;}
.search-submit {background:#EEE;padding:5px;}
.search-field input {width:190px;}

.settings-field {margin-bottom:10px;}
.settings-field label {display:block;width:120px;float:left;}
.settings-field input {width:260px;}