html,body,h1,h2,h3,p,ul,li,tr,th,td,table,input,textarea,form {margin:0;padding:0;}
body {font-size:14px;font-family:arial,sans-serif;background:#FFF} /*F6F4F0*/
.clear {clear:both}
a {text-decoration:none;color:#E8802B}
ul {list-style:none}
header {background:#555;border-bottom:0px solid #FF8400;}
footer {padding:10px;text-align:center;}
h1 a {color:white;float:left;padding:5px 0;font-weight:normal;font-size:100%}
.wrap {margin:0 auto;width:760px;}
nav.algo ul {list-style:none;float:right;}
nav.algo li {float:left;}
nav.algo li a {float:left;display:block;padding:10px 0;margin-left:20px;color:white;}
section.content {background:#FFF;padding:20px 0;}
aside.sidebar {float:left;width:200px;}
section.main {float:left;width:540px;margin-left:20px;}
h2 {font-size:180%;margin-bottom:10px;font-weight:normal;}
h3 {background:#F6F4F0;border-top:1px solid #D4D4D4;padding:6px 6px;font-size:12px;color:#666;margin-bottom:10px;}
.user-menu {list-style:none;margin-bottom:20px;}
.user-menu a {display:block;padding:5px;border-bottom:1px solid #EEE;}
.avatar {margin-bottom:20px;height:200px;}
.user-details {margin-bottom:20px;}
.user-details p {margin:3px 0}

.members {margin:-10px;}
.member a {display:block;float:left;width:250px;height:100px;margin:5px;background:#EEE;}

.post {margin-bottom:20px;}

input,textarea {border:1px solid #CCC;padding:5px;border-radius:3px;outline:none;font-size:14px;font-family:arial,sans-serif;}
input.button {}
	
textarea.post-form {height:38px;width:468px;}